In [1]:
import pandas as pd

df  = pd.read_excel('diego (1).xlsx')

df.head()

,Fechas,Inversion Inicial Prestamos,Nombre Cliente,Dni Cliente,Devolucion Cliente Reinversion Intereses,2024-09-01 00:00:00,2024-10-01 00:00:00,2024-11-01 00:00:00,2024-12-01 00:00:00,2025-01-01 00:00:00,...,2026-10-01 00:00:00,2026-11-01 00:00:00,2026-12-01 00:00:00,2027-01-01 00:00:00,2027-02-01 00:00:00,2027-03-01 00:00:00,2027-04-01 00:00:00,2027-05-01 00:00:00,2027-06-01 00:00:00,2027-07-01 00:00:00
0,2024-08-10 00:00:00,700000.0,Sabrina Soria,35676162.0,1.836002e+06,153000.166667,153000.166667,153000.166667,153000.166667,153000.166667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10 00:00:00,700000.0,Antonella Da Pozzo,35055585.0,1.229732e+06,NaN,204955.333333,204955.333333,204955.333333,204955.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-09-10 00:00:00,1057956.0,Nicolas Ghibaudo,32442152.0,2.962277e+06,NaN,NaN,246856.400000,246856.400000,246856.400000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-11-10 00:00:00,1221289.0,Pablo Villagra,41264818.0,2.198320e+06,NaN,NaN,NaN,366386.700000,366386.700000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-10 00:00:00,1671198.6,2 clientes,NaN,4.383320e+06,NaN,NaN,NaN,NaN,365276.663333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index([                                  'Fechas',
                    'Inversion Inicial Prestamos',
                                 'Nombre Cliente',
                                    'Dni Cliente',
       'Devolucion Cliente Reinversion Intereses',
                              2024-09-01 00:00:00,
                              2024-10-01 00:00:00,
                              2024-11-01 00:00:00,
                              2024-12-01 00:00:00,
                              2025-01-01 00:00:00,
                              2025-02-01 00:00:00,
                              2025-03-01 00:00:00,
                              2025-04-01 00:00:00,
                              2025-05-01 00:00:00,
                              2025-06-01 00:00:00,
                              2025-07-01 00:00:00,
                              2025-08-01 00:00:00,
                              2025-09-01 00:00:00,
                              2025-10-01 00:00:00,
                              2025-11-01 00:00:00,
                              2025-12-01 00:00:00,
                              2026-01-01 00:00:00,
                              2026-02-01 00:00:00,
                              2026-03-01 00:00:00,
                              2026-04-01 00:00:00,
                              2026-05-01 00:00:00,
                              2026-06-01 00:00:00,
                              2026-07-01 00:00:00,
                              2026-08-01 00:00:00,
                              2026-09-01 00:00:00,
                              2026-10-01 00:00:00,
                              2026-11-01 00:00:00,
                              2026-12-01 00:00:00,
                              2027-01-01 00:00:00,
                              2027-02-01 00:00:00,
                              2027-03-01 00:00:00,
                              2027-04-01 00:00:00,
                              2027-05-01 00:00:00,
                              2027-06-01 00:00:00,
                              2027-07-01 00:00:00],
      dtype='object')